name: YW-Auto-Bot

on:
  workflow_dispatch: # 允许手动点按钮运行
  schedule:
    - cron: '0 */1 * * *'  # 每 1 小时自动运行一次
  #push:
   # branches: [ main ] # 每次你上传新代码时运行

jobs:
  execute-bot:
    runs-on: ubuntu-latest

    steps:
      - name: 1. 拉取代码
        uses: actions/checkout@v3

      - name: 2. 安装 Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'

      - name: 3. 安装依赖
        run: npm install

      - name: 4. 执行脚本
        run: node index.js
        env:

          # 将你在 Settings 里设置的 Secret 映射给脚本
          TOKEN: ${{ secrets.TOKEN }}
          # 如果有其他变量，请继续在这添加，例如:
          # USER_ID: ${{ secrets.USER_ID }}
